Click
dash == 1.4.0
dash-core-components
dash-daq
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy == 1.17
pandas
plotly
python-dateutil
pytz
retrying
six
Werkzeug
dash-bootstrap-components
waitress
scipy
matplotlib