Click
dash
dash-core-components
dash-daq
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
retrying
six
Werkzeug
dash-bootstrap-components
waitress
